body {
    background-color: #000000;
    background-image: url('../image/laptop.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #00ff00;
    display: flex;
    flex-direction: column; 
    font-family: 'Courier New', monospace;
    height: 100vh;
    margin: 0;
    overflow: scroll;
    padding: 0;
}

a:link {
  color: #00ff00;
}

/* visited link */
a:visited {
  color: #00ff00;
}

/* mouse over link */
a:hover {
  color: red;
}

img {
    max-width: 95%;
    height: auto;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0; 
}

main {
    max-width: 95%;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
    flex-direction: column;
    width: 100%;
}

.button {
    display: inline-block;
    min-width: 75px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: 1px solid red;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #fff;
}

.nav-button {
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    color: #00ff00;
}

.active-button {
    background-color: rgba(255, 60, 0, 0.3);
}

.button:hover {
    background-color: rgba(244, 153, 61, 0.6);
}

.logo-container {
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-table {
    background-color: rgba(0, 0, 0, 0.8);
    border-collapse: collapse;
    border-radius: 20px;
    color: #00ff00;
    flex: 1;
    margin: 0 auto;  
    overflow: scroll;
    padding: 20px;
    max-width: 700px;
    text-align: justify;
}

.custom-table td, .custom-table th {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.custom-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.custom-table caption {
  text-align: left;
  caption-side: bottom;
}

/* Media query for smaller screens */
@media screen and (min-width: 700px) {
    body {
        align-items: center;
        max-width: 85%;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
 
    /* Vertical tabs for smaller screens */
    .tabs {
        flex-direction: row; 
    }
}